<html>
<head>
    <title>News Tagger</title>
    
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

    
</head>
 
<body>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Logo -->

        <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="navbar-brand navbar-left" href="#" name="top">Jurispect News Tagger!</a>


      <!-- Right hand nav bar options -->

        <div class="collapse navbar-collapse">
          <div class="nav navbar-nav navbar-right">
            <div class="header-link"><a href='/tagged'>Tagged News</a></div>
          </div>
        </div>
    </div>
  </div>
  <h1>Tag! Tag! Tag!  You are IT!</h1><br>
  <div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
      {{#each entries}}
    
      <a href="{{link}}" target="_blank">{{title}}</a><br><br>
      <b>Summary: </b><span class="summary">{{{summary}}}</span>
      <br><br>
      <form action="/", method="post">
        <input type="radio", name="publish", value="true">Publish
        <input type="radio", name="publish", value="false">Don't Publish<br><br>

        <b>Industry: </b><br>
        <div class="btn-group" data-toggle="buttons"> 
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="8450e775-196e-4eff-b83d-cb345afe61dc">Tax & ERISA 
          </div> 
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="8874d1ad-1ead-4038-8a50-83454f652cef">Corporate Securities
          </div>
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="8e0d3b30-0e21-4d70-b4e3-0373b3a418b1">Energy, Environmental & Natural Resources
          </div>
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="9cfefe97-a2f6-4792-ac63-672f18932f48">Transportation & Aviation
          </div>
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="c920615b-db56-4a13-8174-5833b4c6614b">Labor & Employment 
          </div>
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="ef62eb3a-6972-4eee-8fde-6e6bd8053d58">Food, Drug & Healthcare
          </div>
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="64ea5c9d-6b3b-463a-acdd-13b47f22be3c">Government Procurement & Administration
          </div>
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="e2701af1-f7c6-4c43-b790-6734d187018f">Trade
          </div>
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="608b5cf4-c3a1-4391-9259-6d3f815330f7">Education
          </div>
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="b11ada4f-2436-4409-84d5-5cd7171dd1d6">Financial Services
          </div>
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="c485c8cf-f915-41fd-92d8-5f248afcd41a">Media & Entertainment
          </div>
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="49203e41-edf8-4168-81e2-f73170e98e17">Consumer Protection
          </div>
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="762efa0a-b102-444a-bec0-ea0aa347242e">Housing & Real Estate
          </div>
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="a154b453-dc47-4f67-90eb-3f2df8f5d9ed">Technology & Telecommunications
          </div>
          <div class="btn btn-primary" style="margin:1px;">
            <input type="radio", name="industry", value="5cb8a0df-60a4-4f1a-8162-e867fa0bb670">Corporate Governance
          </div>
        </div>
        <br><br>


        <b>Current Topics: </b>{{topics}}<br><br>
        <input type="hidden", name="id", value="{{id}}">
        <input type="text", name="topics", class="form-control", style="width:50%;" placeholder="input topics, seperate by COMMA">
        <button type="submit", name="submit", class="btn btn-sm btn-success btn-tag" value="submit">Tag!</button>
      </form>
      <br>
      <hr>
      {{/each}}
    </div>
  </div>
 
</body>
</html>